
@{
    ViewData["Title"] = "Home Page";
}

       

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Estacionamiento ORT PNT1</h1>
    <p>En esta pagina aprenderemos el MVC</p>
</div>
<img src="~/img/parking.jpeg" alt="Fondo" class="img-fluid mx-auto d-block" style="max-width: 1000px;" />
