
@{
    <h1>Paso de Parametros</h1>
    <p>El ID del producto es @ViewBag.Id</p>
    <p>El nombre del producto es @ViewBag.nombreProducto</p>
    <p>El precio del producto es @ViewData["descripcion"]</p>
    <p>El precio del producto es @TempData["precio"]</p>
}
