@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>For more information on how to set your privacy policy, visit <a href="https://go.microsoft.com/fwlink/?LinkId=512301">https://go.microsoft.com/fwlink/?LinkId=512301</a>.</p>
