@model int

@{
    ViewData["Title"] = "Pruebas2";
}

<h1>Esta es la donde muestro como recibo datos del controlador</h1>
<p> d ) El número que mande por parámetro es @Model</p> 
<p>EL nombre recibido por parametro es @ViewBag.Numero</p> 
<p>El nombre recibido por parametro es @ViewBag.Apellido</p>